@font-face {
    font-family: alimama;
    src: url("./assets/fonts/alimama/CtT1UAN3Izpj.woff"),
        url("./assets/fonts/alimama/CtT1UAN3Izpj.woff2");
}
/* 全局图标配置 */
.iconfont{
    font-size: 16px;
}
/* 全局hover颜色配置 */
.hover-color:hover{
    color: "#158bb8" !important;
}
body{
    background-color: #f0f0f0;
}